<% layout('presentation') %>
<div id="start" class="step" data-x="0" data-scale="8" data-y="0">
		<h1>Introducción a <small>CoffeeScript</small></h1>
		<p class="center"><img src="/img/coffeescript_logo.png"/></p>
	</div>
	<div id="content" class="step" data-x="10200" data-y="0" data-scale="8" data-rotate-y="40">
		<h2>Introducción a <small>CoffeeScript</small><span class="right">Contenido</span></h2>
		<div class="tiles">
			<div class="tile double bg-color-blue">
				<div class="tile-content icon"><img src="/img/what.png"/></div>
				<div class="brand">
					<h3>¿Qué es Javascript?</h3>
				</div>
			</div>
			<div class="tile bg-color-blueDark">
				<div class="tile-content icon"><img src="/img/history.png"/></div>
				<div class="brand">
					<h3>Historia</h3>
				</div>
			</div>			
			<div class="tile double bg-color-purple">
				<div class="tile-content icon"><img src="/img/what-to-do.png"/></div>
				<div class="brand">
					<h3>¿Qué se puede hacer?</h3>
				</div>
			</div>	
			<div class="tile bg-color-yellow">
				<div class="tile-content icon"><img src="/img/coffeescript_logo_white.png"/></div>
				<div class="brand">
					<h3>CoffeeScript</h3>
				</div>
			</div>
			<div class="tile bg-color-pink">
				<div class="tile-content icon"><img src="/img/sintaxis.png"/></div>
				<div class="brand">
					<h3>Sintaxis</h3>
				</div>
			</div>	
			<div class="tile bg-color-green">
				<div class="tile-content icon"><img src="/img/install.png"/></div>
				<div class="brand">
					<h3>Instalación</h3>
				</div>
			</div>	
			<div class="tile bg-color-greenDark">
				<div class="tile-content icon"><img src="/img/compile.png"/></div>
				<div class="brand">
					<h3>Compilar</h3>
				</div>
			</div>				
			<div class="tile bg-color-darken">
				<div class="tile-content icon"><img src="/img/examples.png"/></div>
				<div class="brand">
					<h3>Ejemplos</h3>
				</div>
			</div>							
		</div>
	</div>
    <div id="whatIs" class="step" data-x="8300" data-y="3000" data-rotate="-90" data-rotate-y="40" data-scale="4">
        <p>es un lenguaje <b class="positioning">dinámico</b>, <b class="rotating">interpretado</b> y de tipado <b class="positioningDown">débil</b></p>
    </div>	
    <div id="paradigms" class="step" data-x="8400" data-y="6000" data-rotate="-180" data-rotate-y="40" data-scale="4">
    	<p>Permite "programación orientada a <b>objetos</b>", <b>imperativa</b> o <b>funcional</b></p>
    	<!--<p><b>No</b> es de propósito general</p>-->
	</div>
	<div id="jsSyntax" class="step" data-x="12500" data-y="6000" data-scale="1" data-rotate-y="40" data-rotate="-45">
		<div>
			<pre>
				<code class="javascript">
					personas = ["Victor", "Juan", "Pedro", "Luis"];
					for (_i = 0, _len = personas.length; _i < _len; _i++) {
						persona = personas[_i];
						console.log(persona);
					}
				</code>
			</pre>			
		</div>
	</div>
	<div id="history1" class="step" data-x="2000" data-y="6000" data-scale="4" data-rotate="-180" data-rotate-y="40">
		Fue creado por un empleado de <b>Netscape</b> para el navegador de la empresa en 1995.
		<p class="center"><small>Brendan Eich</small>&nbsp;<img src="/img/brendan.jpeg"/></p>
	</div>
	<div id="whatCanIdo" class="step" data-x="4500" data-y="5000" data-scale="2" data-rotate="-180" data-rotate-y="40">
		<ul>
			<li>Funciones que interactúen con el DOM</li>
			<li>Cargar contenido vía AJAX</li>
			<li>Animaciones (esta presentación)</li>
			<li>Juegos</li>
			<li>Validación de formularios</li>
		</ul>		
	</div>
	<div id="snake" class="step" data-x="4870" data-y="4850" data-scale="0.1" data-rotate="-180" data-rotate-y="40">
		<canvas id="canvas" width="450" height="450"></canvas>
	</div>	
	<div id="stats" data-x="13700" data-y="3000" data-rotate="-90" data-rotate-y="40" data-scale="4" class="step">
		<img src="/img/stats.jpg"/>
	</div>
	<div id="stats2" data-x="17000" data-y="3000" data-rotate="-90" data-rotate-y="40" data-scale="2" class="step">
	</div>
	<div id="stats3" data-x="20000" data-y="3000" data-rotate="-90" data-rotate-y="40" data-scale="1" class="step">
	</div>	
	<div id="graphics" class="step" data-x="17000" data-y="5600" data-rotate-y="40" data-scale="4" data-rotate="0">
		<img src="/img/graphs.png"/>
	</div>
	<!-- Let's start with coffeescript -->
	<div id="coffeeStart" class="step" data-scale="8">
	</div>
	<div id="coffee" class="step slide" data-x="" data-y="1500" data-scale="0.2">
		<h2>¿Qué es CoffeeScript?</h2>
		<p class="center">
			<img src="/img/coffeescript_logo.png"/>
		</p>
		<p>
			Es un lenguaje nacido en 2009 que se compila a Javascript. Posee una sintaxis
			parecida a Ruby o Python.
			<br/>
		</p>
		<pre class="coffee">
			<code class="coffeescript">
				greet = (person = "world") ->
					console.log "Hello #{person}"
				greet "class"
			</code>
		</pre>
		<p>Su popularidad no ha dejado de crecer</p>
	</div>
	<div class="step" data-x="45" data-y="1528" data-scale="0.08">
		<pre class="coffee">
			<code class="javascript">
				var greet;
				greet = function(person) {
				  if (person == null) {
				    person = "world";
				  }
				  return console.log("Hello " + person);
				};
				greet("class");			
			</code>
		</pre>
	</div>
	<div id="coffee-operators" class="step slide" data-x="200" data-y="1500" data-scale="0.2">
		<table>
			<thead><tr><th>Operadores lógicos</th></tr></thead>
			<tbody>
				<tr><td>== is</td></tr>
				<tr><td>!= isnt</td></tr>
				<tr><td>not</td></tr>
				<tr><td>or and</td></tr>
				<tr><td>true yes on</td></tr>
				<tr><td>false no off</td></tr>
			</tbody>
		</table>
		<pre class="coffee">
			<code class="coffeescript">
				switchOff light if light is on
				switchOff light unless light is off

				if 2 < age < 5
					alert "Yes!"
				else
					alert "Too old"
			</code>
		</pre>		
	</div>
	<div id="coffee-switch" class="step slide" data-x="400" data-y="1500" data-scale="0.2">
		<h2>Sentencia switch</h2>
		<pre class="coffee">
			<code class="coffeescript">
				message = switch variable
					when 1 then "Number 1"
					when 2 then "Number 2"
					when 3 then "Number 3"
					else "No number"
			</code>
		</pre>
		<h2 class="short">Operador existencial</h2>
		<pre class="coffee">
			<code class="coffeescript">
				alert "Exists" if message?
				message ?= "Empty"

				#Solo llamar a una funcion si existe
				message.something?()
			</code>
		</pre>
	</div>
	<div id="coffee-arrays" class="step slide" data-x="600" data-y="1500" data-scale="0.2">
		<h2 class="short">Arrays, rangos y splats</h2>
		<pre class="coffee">
			<code class="coffeescript">
				rango = [start..end]
				rango = [start...end]
				municipios = ["Tacoronte", "La Laguna", "Tegueste"]
				municipios = [
					"Tacoronte"
					"La Laguna"
					"Agulo"
				]
				for municipio in municipios
					console.log "Municipio: #{municipio}"
				m_tenerife = (m for m in municipios when m isnt "Agulo")
				#["Tacoronte", "La Laguna"]

				buscar = (que, lugares...) ->
					"buscando #{que} en #{lugares.join(',')}"

				buscar "bares", "Tenerife", "La Palma"
				params = ["tiendas", "Tenerife", "Lanzarote", "La Gomera"]
				buscar(params...)
			</code>
		</pre>
	</div>	
	<div id="coffee-hashes" class="step slide" data-x="800" data-y="1500" data-scale="0.2">
		While y objetos (hashes)
		<pre class="coffee">
			<code class="coffeescript">
				comprar() while dinero > 0
				while 1
					alert "Bucle infinito"
			</code>
		</pre>
		<pre class="coffee">
			<code class="coffeescript">
			alumno = nombre: "Victor", edad: 21, saludo: -> alert "Oh!"
			alumnos =
				victor:
					edad: 21
				pepe:
					edad: 25

	edades = ("#{alumno} tiene #{attr.edad} años" for alumno, attr of alumnos)

			</code>
		</pre>		
	</div>	
	<div id="coffee-classes" class="step slide" data-x="1000" data-y="1500" data-scale="0.2">
		<h2>Objetos y herencia</h2>
		<pre class="coffee">
			<code class="coffeescript">
				class Animal
					constructor: (@nombre) ->
					caminar: (metros) ->
						alert "#{nombre} camina #{metros} metros"

				class Gato extends Animal
					caminar: ->
						alert "miau"
						super 3

				class Serpiente extends Animal
					caminar: ->
						alert "Shhh"
						super 6
					morder: ->
						alert "#{nombre} mordió a su objetivo"
			</code>
		</pre>
	</div>
	<div id="coffee-install" class="step slide" data-x="1200" data-y="1500" data-scale="0.2">
		<h2>Instalar coffeescript</h2>
		<p class="small">Primero hay que descargar la ultima versión de <a href="http://www.nodejs.org">node</a> 
		y de <a href="http://www.npmjs.org">npm</a> e instalarlas</p>
		<pre class="coffee">
			<code class="bash">			
				npm install -g coffee-script				
			</code>
		</pre>		
		<h2 class="short">¿Cómo compilar? <small>REPL, cakefile...</small></h2>
		<pre class="coffee">
			<code class="bash">
				coffee -c prueba.coffee 				coffee
				coffee -cw prueba.coffee 			cake
				coffee -c {src} -o {js}
				coffee -cw {src} -o {js}
			</code>
		</pre>	
	</div>	
	<div id="coffee-examples" class="step slide" data-x="1400" data-y="1500" data-scale="0.2">
		<h2>Ejemplos</h2>
		<p>
			En este <a target="_blank" href="http://github.com/tagoro9/a-sip-of-coffee">repositorio</a> se encuentra colgado el código de
			esta página (cliente y servidor), y también hay una carpeta con ejemplos sencillos:
		</p>
		<ul class="styled">
			<li>Hola mundo</li>
			<li>Uso de cakefile</li>
			<li>TDD con jasmine</li>
			<li>Juego Snake</li>
		</ul>
	</div>	
	<div id="resources"	class="step slide" data-x="1600" data-y="1500" data-scale="0.2">
		<h2>Recursos <small>y enlaces de interés</small></h2>
		<ul class="short">
			<li><a target="_blank" href="http://bartaz.github.com/impress.js/">Impress.js</a></li>
			<li><a target="_blank" href="http://www.coffeescript.org">CoffeeScript.org</a></li>
			<li><a target="_blank" href="http://courseware.codeschool.com/coffeescript_slides.pdf">Code School</a></li>
			<li><a target="_blank" href="http://github.com/tagoro9/a-sip-of-coffee">Repositorio</a></li>
			<li><a target="_blank" href="http://en.wikipedia.org">Wikipedia</a></li>
		</ul>
		<ul class="short">
			<li><a target="_blank" href="http://thecodeplayer.com/walkthrough/html5-game-tutorial-make-a-snake-game-using-html5-canvas-jquery">Tutorial Snake</a></li>
			<li><a target="_blank" href="http://www.youtube.com/watch?v=QgqVh_KpVKY">ScreenCast</a></li>
			<li><a target="_blank" href="http://www.youtube.com/watch?v=fdNJiYQ1esc">A shot of CS</a></li>
			<li><a target="_blank" href="http://www.vogella.com/articles/JavaScript/article.html">Tutorial JS</a></li>	
			<li><a target="_blank" href="http://www.w3schools.com/js/default.asp">W3 Schools</a></li>
		</ul>
		<p class="center">Ponerse a <b>probar</b></p>
	</div>
	<div id="thanks" class="step" data-scale="50" data-x="15000" data-y="-5000" data-rotate-y="20">
		<h2>¡Muchas gracias!</h2>
	</div>