<% layout('node-layout') %>
<section>
	<h1>Node.js</h1>
	<h3>Server side JS</h3>
	<p>
		<small>Sistemas y tecnologías web <a href="http://www.twitter.com/vivictormora">Victor Mora</a></small>
	</p>
</section>

<section>
	<img src="/img/questions.jpg">
</section>