body {
	background: #FFF;
}

h1 {
	font-size: 150px;
	line-height: 120px;
}

h2 {
	font-size: 40px;
}

ul li {
	font-size: 40px;
	line-height: 40px;
	padding: 10px;
}

.slide {
	background-color: #EEE;
}

.slide table {
	margin: 0;
}

.slide td, .slide th {
	font-size: 40px;
	line-height: 40px;
}

.center {
	margin: auto;
	text-align: center;
}

.right {
	float: right;
}

.past {

}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 48px;
    line-height: 1.5;
}

.step p {
	font-size: 70px;
	line-height: 100px;
}

.slide h2 {
	margin-bottom: 40px;
}

.slide h2.short {
	margin-bottom: 20px;
}

.slide a {
	font-size: 40px;
}

.slide ul {
	list-style-type: none;
}

.slide ul.styled {
	list-style-type: disc;
	margin-left: 30%;
}

.slide ul.short {
	margin-left: 6%;
	width: 40%;
	float: left;
	margin-top: 5%;
	margin-bottom: 10%;	
}

.slide p {
	font-size: 40px;
	line-height: 40px;
}

.slide p.small {
	font-size: 20px;
	line-height: 20px;	
}

.tiles {
	margin-top: 30px;
}

.tile .brand {
	padding-bottom: 5px;
	margin-left: 10px;
}

/*
    This step has some animated text ...
*/
/*#ing { width: 500px }*/

/*
    ... so we define display to `inline-block` to enable transforms and
    transition duration to 0.5s ...
*/
#whatIs b {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

/*
    ... and we want 'positioning` word to move up a bit when the step gets
    `present` class ...
*/
#whatIs.present .positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform:    translateY(-10px);
    -ms-transform:     translateY(-10px);
    -o-transform:      translateY(-10px);
    transform:         translateY(-10px);
}

/*
    ... 'rotating' to rotate quater of a second later ...
*/
#whatIs.present .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}

/*
    ... and 'scaling' to scale down after another quater of a second.
*/
#whatIs.present .positioningDown {
    -webkit-transform: translateY(10px);
    -moz-transform:    translateY(10px);
    -ms-transform:     translateY(10px);
    -o-transform:      translateY(10px);
    transform:         translateY(10px);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}

#stats img {
	margin-top: 1350px;
}

#stats.past {
	opacity: 1;
}

#start.past {
	opacity: 1;
}

#thanks h2 {
	font-size: 100px;
}

pre {
    background:none;
    border: none;
    display: block;
    font-size: 10pt;
    line-height: 14pt;
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;	
}

pre.coffee code {
	border-radius: 10px;
	font-size: 20px;
	line-height: 25px;	
}

#jsSyntax pre code {
	margin-left: 150px;
    -webkit-transform: scale(3);
    -moz-transform:    scale(3);
    -ms-transform:     scale(3);
    -o-transform:      scale(3);
    transform:         scale(3);	
    font-family: arial;
}
