<% layout('mainLayout') %>
<div class="page secondary">
	<div class="page-header">
		<div class="page-header-content">
			<h1>Destripando <small>a sip of coffee</small></h1>
			<a href="/" class="back-button big page-back"></a>
		</div>
	</div>
	<div class="page-region">
		<div class="page-region-content">
			<div class="tile bg-color-blueLight">
				<a target="_blank" href="http://nodejs.org/">
					<div class="tile-content icon">
						<h2>Node.js</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>
			<div class="tile bg-color-blue">
				<a target="_blank" href="http://expressjs.com/">
					<div class="tile-content icon">
						<h2>Express.js</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>
			<div class="tile bg-color-blueDark">
				<a target="_blank" href="http://bartaz.github.com/impress.js/">
					<div class="tile-content icon">
						<h2>Impress.js</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>
			<div class="tile bg-color-purple">
				<a target="_blank" href="http://metroui.org.ua/">
					<div class="tile-content icon">
						<h2>Metro UI</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>		
			<div class="tile bg-color-darken">
				<a target="_blank" href="http://softwaremaniacs.org/soft/highlight/en/">
					<div class="tile-content icon">
						<h2>Highlight js</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>	
			<div class="tile bg-color-darken">
				<a target="_blank" href="http://coffeescript.org/">
					<div class="tile-content icon">
						<h2>Coffee Script</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>													
			<div class="tile bg-color-purple">
				<a target="_blank" href="http://embeddedjs.com/">
					<div class="tile-content icon">
						<h2>EJS</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>	
			<div class="tile bg-color-blueDark">
				<a target="_blank" href="http://jquery.com/">
					<div class="tile-content icon">
						<h2>jQuery</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>
			<div class="tile bg-color-blue">
				<a target="_blank" href="http://ricostacruz.com/jquery.transit/">
					<div class="tile-content icon">
						<h2>jQuery Transit</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>	
			<div class="tile bg-color-blueLight">
				<a target="_blank" href="https://github.com/TrevorBurnham/connect-assets">
					<div class="tile-content icon">
						<h2>Connect assets</h2>
					</div>
					<div class="brand">
						<div class="name"></div>
					</div>
				</a>
			</div>												
		</div>
	</div>
</div>