<!DOCTYPE html>
<html>
	<head>
		<title>Javascript by example</title>
		<!-- Metro UI Css -->
		<link rel="stylesheet" type="text/css" href="/css/modern.css">
		<link rel="stylesheet" type="text/css" href="/css/modern-responsive.css">
		<!-- Site styles -->
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<!-- Favicon -->
		<link href="favicon.ico" rel="shortcut icon">
	</head>
	<body>
		<div class="page">
			<div class="page-region">
				<div class="page-region-content">
					<p class="place-right tertiary-secondary-text">
						built with 
						<a class="fg-color-blueLight" href="http://nodejs.org/">Node.js</a>
					</p>					
					<h1>
						Javascript
						<small>
							by example
							<span class="fg-color-blue">v 0.0.1</span>
						</small>
					</h1>					
				</div>
			</div>
			<div class="page-region">
				<div class="page-region-content">
					<!-- Tiles superiores -->
					<div class="grid">
						<div class="row up-tiles">
							<div class="span4 bg-color-blue">
								<a href="">
									<img src="/img/material.png"/>
									<h2>Material</h2>							
								</a>
							</div>
							<div class="span4 bg-color-blueDark">
								<a href="">
									<img src="/img/about.png"/>
									<h2>Sobre esta página</h2>							
								</a>						
							</div>
							<div class="span4 bg-color-purple">
								<a href="">
									<img src="/img/github_white.png"/>
									<h2>Algo de código</h2>							
								</a>
							</div>
						</div>
					</div>
					<!-- Introduccion a coffeescript -->
					<div class="hero-unit">
						<img class="place-left" src="/img/coffeescript.png"/>
						<h1>Coffeescript
							<small>introducción</small>
						</h1>
						<div class="span8 offset3">
							<div>
								<blockquote class="place-right">
									CoffeeScript es un lenguaje de programación que se compila a JavaScript. El lenguaje añade azúcar sintáctico inspirado en Ruby, Python y Haskell2 para mejorar la brevedad y la legibilidad de JavaScript, y añade características más sofisticadas, como la comprensión de listas y la coincidencia de patrones.
								</bockquote>
							</div>
							<div class="operations">
								<button class="default" data-url="">Iniciar presentación</button>
								<button class="default" data-url="">Cuestionario</button>
								<button class="default" data-url="">Recursos</button>
							</div>							
						</div>
					</div>						
				</div>
			</div>
			<!-- Footer -->
			<div id="footer" class="header-bar">
				<div class="header-bar-inner">
					<p class="place-right tertiary-text fg-color-white">
						2012 - Sistemas y Tecnologías Web - 
						<a href="" class="fg-color-blueLight">Víctor Mora</a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
