<!-- Introduccion a coffeescript -->
<% layout('mainLayout') %>
<div id="carousel">
	<div id="carousel-container">
		<div class="carousel-elem first hero-unit">
			<img class="place-left" src="/img/coffeescript.png"/>
			<h1>Coffeescript
				<small>introducción</small>
			</h1>
			<div class="span8 offset3">
				<div>
					<blockquote class="place-right">
						CoffeeScript es un lenguaje de programación que se compila a JavaScript. El lenguaje añade azúcar sintáctico inspirado en Ruby, Python y Haskell2 para mejorar la brevedad y la legibilidad de JavaScript, y añade características más sofisticadas, como la comprensión de listas y la coincidencia de patrones.
					</bockquote>
				</div>
				<div class="operations">
					<button class="default start-show" data-url="coffee">Iniciar presentación</button>
				</div>							
			</div>
		</div>
		<div class="carousel-elem hero-unit">
			<img class="place-left" src="/img/nodejs.png"/>
			<h1>Node.js <small>introducción</small></h1>
			<div class="span8 offset3">
				<div>
					<blockquote class="place-right">
						Node.js es un entorno de programación en la capa del servidor basado en el lenguaje de programación Javascript, con I/O de datos en una arquitectura orientada a eventos, y basado en el motor Javascript V8. Fue creado con el enfoque de ser útil en la creación de programas de red altamente escalables.
					</bockquote>
				</div>
				<div class="operations">
					<button  class="default start-show" data-url="node">Iniciar presentación</button>
				</div>							
			</div>								
		</div>
		<div class="carousel-elem hero-unit">
			<img class="place-left" src="/img/playing.jpeg"/>
			<h1>Jugando con <small>Node.js</small></h1>
			<div class="span8 offset3">
				<div>
					<blockquote class="place-right">
						Una vez se han dado los primeros pasos tanto con Coffeescript como con Node.js
						en esta última presentación se procederá a realizar una aplicación de ejemplo
						que resuma todo lo aprendido.
					</bockquote>
				</div>
				<div class="operations">
					<button disabled="disabled" data-showId="playing-with-node" data-url="">Iniciar presentación</button>
					<button disabled="disabled" data-url="">Cuestionario</button>
				</div>							
			</div>								
		</div>							
	</div>
</div>
<div class="carousel-controls">
	<a data-dir="back" href="#" class="back-button"></a>
	<a data-dir="forward" class="forward-button" href="#"></a>
</div>