<% layout('mainLayout') %>
<div class="page secondary">
	<div class="page-header">
		<div class="page-header-content">
			<h1>Material <small>a sip of coffee</small></h1>
			<a href="/" class="back-button big page-back"></a>
		</div>
	</div>
	<div class="page-region">
		<div class="page-region-content">
			<div id="js">
				<h2>Javascript</h2>
				<ul>
					<li><a target="_blank" href="http://www.vogella.com/articles/JavaScript/article.html">Curso</a> introductorio a Javascript</li>
					<li>Hacer un <a target="_blank" href="http://thecodeplayer.com/walkthrough/html5-game-tutorial-make-a-snake-game-using-html5-canvas-jquery">snake</a> en javascript</li>
					<li>Documentación de Javascript en <a target="_blank" href="http://docs.webplatform.org/wiki/javascript">webplatform</a></li>
					<li>Referencia de Javascript de <a target="_blank" href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference">mozilla</a></li>
					<li>Aprender <a target="_blank" href="https://tutsplus.com/course/30-days-to-learn-jquery/">jquery</a> en 30 días</li>
				</ul>
			</div>
			<div id="coffee">
				<h2>CoffeeScript</h2>
				<ul>
					<li><a target="_blank" href="http://www.youtube.com/watch?v=fdNJiYQ1esc">Presentación</a> sobre CoffeeScript</li>
					<li><a target="_blank" href="http://www.youtube.com/watch?v=QgqVh_KpVKY">Screencast</a> de introducción a CoffeeScript</li>
					<li><a target="_blank" href="http://courseware.codeschool.com/coffeescript_slides.pdf">Transparencias</a> del curso de coffeescript en codeschoool</li>
					<li>Libro <a target="_blank" href="https://play.google.com/store/books/details/Mark_Bates_Programming_in_CoffeeScript?id=j0aYafxE2B4C">Programming in CoffeeScript</a></li>
					<li>Página oficial de <a target="_blank" href="http://coffeescript.org/">CoffeeScript</a></li>
				</ul>
			</div>
			<div id="node">
				<h2>Node.js</h2>
				<ul>
					<li>Página oficial de <a target="_blank" href="http://nodejs.org/">node.js</a></li>
					<li><a target="_blank" href="http://nodemanual.org/latest/">Referencia</a> oficial de node.js</li>
					<li>Hacer deploy de node.js a <a target="_blank" href="https://devcenter.heroku.com/articles/nodejs">heroku</a></li>
					<li>Tutoriales de <a target="_blank" href="http://nodetuts.com/">aplicaciones</a> en node.js</li>
					<li><a target="_blank" href="http://courseware.codeschool.com/node_slides.pdf">Transparencias</a> del curso de node.js en codeschool</li>
					<li>Libro <a target="_blank" href="http://www.nodebeginner.org">online</a> sobre node.js</li>
				</ul>
			</div>
		</div>
	</div>
</div>